@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :body {
      @apply bg-white text-gray-700
  }
 
}
@font-face {
  font-family: IranSans;
  src: url(../public/assests/fonts/IRANSans-Medium-web.woff2);
}
@font-face {
  font-family: IranSansMedium;
  src: url(/public/assests/fonts/IRANSans-web.woff2);
}

* {
  font-family: IranSans;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}
.shape{
clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);

}